body{
 background-color: #B7B89F;
margin-left: 20%;
margin-right: 20%;

}
h1{
    text-align: center;
color: #e6e5e5;
font-family:'Arial Narrow Bold', sans-serif;
}

h1:hover{
color: #fffefe;
}
nav{
background-color:#777C6D ;
border-radius: 20px;
text-align: center;
}

nav ul{
    list-style: none;
}
nav ul li{
display: inline-block;
}
nav ul li a{
    color: #CBCBCB;
    text-decoration: none;
    display: block;
    padding: 20px;
}
nav ul li a:hover{
   background-color: rgb(150, 152, 145);
}
main{
box-shadow: 10px 6px 22px 0px ;
padding: 25px;
border-radius: 5%;
}
main:hover{
    box-shadow: 10px 6px 22px 0px rgb(99, 99, 43);
transform: translateY(-10px);
}
footer{
    text-align: center;
    color: rgb(18, 18, 18);
    
   
   
}