<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="img/icon/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="../CSS/style.css">
    <title>Acerca de</title>
</head>
<body>
     <header>
        <h1>Practica 1</h1>
        <nav>
           <ul>
            <li>
                <a href="../index.html">Inicio</a>
                
            </li>
            <li><a href="#">Acerca de..</a>
            </li>
         <li><a href="#">Servicio</a>
        </li>
        </ul>
        </nav>
    </header>
   
</body>
 <hr>

<main>
<h2>Misión</h2>
<p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium, est minus. Suscipit non, molestiae sint saepe, voluptate adipisci hic praesentium quo ea quia reiciendis placeat ut quisquam ratione sunt quibusdam?
    Numquam unde voluptates vel nihil, autem inventore suscipit soluta omnis quisquam est repellat odit tenetur perferendis reprehenderit totam ut, nisi quae cum! Sunt, laboriosam possimus eos modi vitae at harum.
</p>
<br>
<h2>Visión</h2>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa quia accusamus esse nesciunt, qui excepturi incidunt cum, reiciendis dignissimos nemo ullam, voluptatibus quos doloribus facilis ratione. Magnam soluta quia voluptatibus.
Et repellendus natus corrupti fuga quidem iusto cumque voluptates id voluptatem, repudiandae soluta enim voluptate. Praesentium vero doloremque voluptate unde dicta animi error aliquam sunt, ea deleniti reprehenderit perferendis labore.
Recusandae iusto autem minima nihil similique velit, eos accusamus amet commodi animi, nulla corporis nesciunt a nobis ipsam atque nostrum doloremque expedita ex! Cupiditate blanditiis, sit vitae illum ut ad!
Dolor possimus nihil alias accusamus eaque, expedita rem optio. Dicta eligendi, ducimus error amet culpa necessitatibus recusandae quisquam rerum. Quia laborum natus rerum sed nesciunt soluta quos saepe nostrum quae.</p>

<br>

<h3>Pilares Tecnologicos</h3>
<ol>
    <li><strong>Estructura HTML</strong>Define la estrucutra de la web</li>
    <li><strong>Hojas de estilo css</strong>Mejora la apariencia de la web</li>
    <li><strong>JavaScript</strong>Añade interactividad</li>
</ol>
<br>
<p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis, unde.
</p>
<br>
<h2>Ubicanos</h2>
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5678.334534518411!2d-90.53724829262347!3d19.848361463403084!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85f833f707856b1b%3A0x11c25e383e36622a!2sMalec%C3%B3n%20de%20Campeche!5e0!3m2!1ses-419!2smx!4v1761266141649!5m2!1ses-419!2smx" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</main>
<hr>
<footer>
<small>Derechos reservados de &COPY; Angel Antionio Pecero Martinez 2025</small>
<p>
    <img src="img/icon/Facebook.png" alt="" width="20"><img src="img/icon/Youtube.png" alt="" width="20">

</p>
</footer>


</html>